@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
body{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: rgb(230, 230, 230);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-image: url(./background\ .jpg);
}
header{
    background-color: black;
    color: white;
    background-image: url(hamburguer-800.jpeg);
    height: 200px;
    padding-top: 45px;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
header > h1{
    font-size: 3em;
    font-family: 'Playfair Display', serif;
    text-shadow: 4px 4px 3px black;
}
img {
    display: block;
    width: 500px;
    border-radius: 25px 25px 0px 0px;
    padding: 1px;
  }
section{
    background-color: black;
}
ul.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(37, 37, 37);
    margin-top: 65px;
}
li.op{
    float: left;
}
li a{
    display: block;
    color: white;
    font-weight: 600;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 2px 2px 2px black;
    border-right: 2px solid rgb(82, 82, 82);
}
li a:hover{
    background-color: rgb(0, 0, 0);
}
main{
    text-align: center;
    font-size: 20px;
    font-family: 'Architects Daughter', cursive;
}
main.comCaixa {
    background-color: rgb(37, 37, 37);
    width: 700px;
    margin: auto;
    color: white;
    border-radius: 20px;
    padding-top: 3px;
    padding-bottom: 1px;
    box-shadow: 5px 5px 7px black;
    text-shadow: 4px 4px 2px black;
    font-family: 'Architects Daughter', cursive;
}
main#faleConosco{
    text-align: center;
    padding-left: 20px;
    padding-bottom: 20px;
}
main#faleConosco > h1{
    text-align: center;
}
main > h1{
    font-family: 'Architects Daughter', cursive;
}
main#iCardapio > p {
    color: white;
    text-shadow: 3px 3px 3px black;
}
a#link {
    color: white;
}
a#link:hover {
    color: red;
}
input#inome{
    width: 300px;
}
input#iemail{
    width: 300px;
}
p.index{
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}
form{
    width: 100%;
}
.slider {
    -webkit-appearance: none; 
    background:white;
}
hr {
    width: 10vw;
  }
footer {
    padding: 20px;
    text-align: center;
    background: black;
    margin-top: 300px;
    color: white;
  }
footer.home {
    
    left: 0;
    bottom: 0;
    margin-top: 360px
  }
footer.pedido {
    left: 0;
    bottom: 0;
  }
h1.cardapio{
    font-family: 'Architects Daughter', cursive;
    color: white;
    text-shadow: 3px 3px 3px black;

}

table{
    width: 500px;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid black;
    box-shadow: 3px 3px 3px black;
}
th{
   border-bottom: 2px solid black; 
}
td{
   border-bottom: 1px solid black;
   background-color: white;
}
thead{
    background-color: rgb(82, 82, 82);
    color: white;
}
iframe{
      padding: 10px;
  }

@media screen and (max-width: 600px){
    header{
        font-size: 2.5vw;
        height: 110px;
        background-size: 500px;
    }
    header > h1{
        margin-top: 2px;
    }
    main{
        font-size: 3.2vw;
        width: 98%;
        box-shadow: 0px 0px 0px;
        margin-top: 185px;
    }
    ul.menu li.right, 
    ul.menu li {float: none;}
    main.comCaixa{
        font-size: 3.2vw;
        width: 95%;
        box-shadow: 0px 0px 0px;
        margin-top: 185px;
        margin-bottom: 300px;
    }
    textarea#imensagem{
        width: 320px;
    }
    table{
        width: 98%;
    }

    input.primeiro{
        width: 30%;
    }
    iframe{
        width: 300px;
    }
    .slider{
        width: 25%;
    }
    .textarea{
        width: 85%;
    }
    ul.menu {
        margin-top: 50px;
    }
    footer.home{
        width: auto;
    }
}