@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
body{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: rgb(230, 230, 230);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em
}
header{
    background-color: black;
    color: white;
    background-image: url(hamburguer-800.jpeg);
    height: 20vh;
    padding-top: 45px;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
header > h1{
    font-size: 3em;
    font-family: 'Playfair Display', serif;
    text-shadow: 4px 4px 3px black;
}
img {
    display: block;
    width: 500px;
    border-radius: 25px 25px 0px 0px;
    padding: 1px;
  }
section{
    background-color: black;
}
main {
    background-color: rgb(37, 37, 37);
    width: 600px;
    margin: auto;
    color: white;
    border-radius: 25px;
    padding-top: 3px;
    padding-bottom: 1px;
    box-shadow: 5px 5px 7px black;
    text-shadow: 4px 4px 2px black;
}
form{
    width: 100%;
}
.slider {
    -webkit-appearance: none; 
    background:white;
}
hr {
    width: 10vw;
  }
h1{
    font-family:Arial, Helvetica, sans-serif;
}
footer {
    padding: 20px;
    text-align: center;
    background: black;
    margin-top: 20px;
    color: white;
  }
@media screen and (max-width: 600px){
    header{
        font-size: 2.5vw;
        height: 110px;
        background-size: 500px;
    }
    header > h1{
        margin-top: 2px;
    }
    main{
        font-size: 3.2vw;
        width: 98%;
        box-shadow: 0px 0px 0px;
    }
    input.primeiro{
        width: 30%;
    }
    .slider{
        width: 25%;
    }
    .textarea{
        width: 85%;
    }
}